<html>
  <body>
    Hello
    {{user}},<br />
    Congratulations, you have been accepted for this year's edition of the Erasmus Generation Meeting!
    Here are the details for your registration:
    <br />
    Reference:
    <i>{{spotId}}</i>.<br />
    Spot type:
    <i>{{spotType}}</i>.<br />
    Price:
    <i>{{price}}€</i>.<br />
    Country:
    <i>{{country}}</i>.<br />
    Section:
    <i>{{section}}</i>.<br /><br />
    <a href='{{url}}'>Open the app to check it!</a>
  </body>
</html>